
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-25-qLy {
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  position: relative;
  row-gap: 3.5rem;
  display: flex;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 7.1rem 5.7rem 33rem 5.2rem;

  .patients-record-8qs {
    margin-left: 2.3rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.375;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-eoem-eZK {
    margin-left: 0.4rem;
    width: calc(100% - 0.4rem);
    height: 26rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-2ysm-yLh {
      display: flex;
      border-radius: 1rem;
      box-sizing: border-box;
      padding: 0.6rem 3.5rem 0.6rem 0rem;
      align-items: center;
      background-color: #f5f5f5;
      flex-shrink: 0;
      margin: 1.5rem 1.4rem 1.5rem 0rem;
      height: calc(100% - 3rem);

      .image-8-Gah {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.9rem;
        width: 21.8rem;
        height: 21.8rem;
      }
      .auto-group-t2qd-CjF {
        width: 37.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .patient1gmailcom-YYD {
          position: absolute;
          font-size: 2.5rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 25.4rem;
          height: 5.6rem;
          left: 0;
          top: 5.3rem;
          font-weight: 300;
          line-height: 2.2;
        }
        .last-appointment-23-10-2023-3js {
          left: 0;
          font-size: 2.5rem;
          line-height: 2.2;
          color: #000000;
          white-space: nowrap;
          width: 37.3rem;
          position: absolute;
          font-weight: 300;
          font-family: Poppins, 'Source Sans Pro';
          height: 5.6rem;
          top: 10.8rem;
        }
        .view-details-wKT {
          font-weight: 300;
          line-height: 2.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 13.1rem;
          position: absolute;
          top: 16.3rem;
          font-size: 2.2rem;
          color: #e53935;
          height: 5.5rem;
          left: 0;
        }
        .patient1-T2u {
          height: 5.6rem;
          left: 0;
          top: 0;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 9.4rem;
          position: absolute;
          font-size: 2.5rem;
          font-weight: 300;
          line-height: 2.2;
          color: #000000;
        }
        .arrowforwardiosfill0wght400grad0opsz48-1-6-ymw {
          width: 1.14rem;
          height: 2rem;
          position: absolute;
          left: 13.72rem;
          top: 18.095rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .auto-group-xozo-qZF {
      width: 66.8rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-16-nDb {
        background-color: #f5f5f5;
        border-radius: 1rem;
        width: 64.5rem;
        height: 23rem;
        position: absolute;
        left: 2.3rem;
        top: 2.1rem;
      }
      .patient2gmailcom-Vdo {
        font-family: Poppins, 'Source Sans Pro';
        width: 26.1rem;
        height: 5.6rem;
        left: 26rem;
        top: 8rem;
        font-weight: 300;
        color: #000000;
        position: absolute;
        font-size: 2.5rem;
        line-height: 2.2;
        white-space: nowrap;
      }
      .last-appointment-03-08-2023-Qkm {
        height: 5.6rem;
        font-weight: 300;
        line-height: 2.2;
        font-size: 2.5rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 38.3rem;
        position: absolute;
        left: 26rem;
        top: 13.5rem;
      }
      .view-details-Woo {
        top: 19rem;
        font-size: 2.2rem;
        line-height: 2.5;
        color: #e53935;
        font-family: Poppins, 'Source Sans Pro';
        left: 26rem;
        height: 5.5rem;
        position: absolute;
        font-weight: 300;
        white-space: nowrap;
        width: 13.1rem;
      }
      .patient2-dNd {
        white-space: nowrap;
        width: 10.1rem;
        left: 26rem;
        font-weight: 300;
        line-height: 2.2;
        color: #000000;
        height: 5.6rem;
        position: absolute;
        top: 2.7rem;
        font-size: 2.5rem;
        font-family: Poppins, 'Source Sans Pro';
      }
      .arrowforwardiosfill0wght400grad0opsz48-1-7-Z1P {
        width: 1.14rem;
        height: 2rem;
        position: absolute;
        left: 39.72rem;
        top: 20.795rem;
        object-fit: contain;
        vertical-align: top;
      }
      .image-10-rmB {
        background-position: 0 -0.0053rem;
        background-image: url('REPLACE_IMAGE:f05717d5620ce273dcca63923bd347a9a460da24');
        width: 27.1rem;
        height: 26rem;
        position: relative;
        left: 0;
        top: 0;
        background-size: 100% 112.275%;
      }
    }
  }
  .auto-group-j7yo-kLm {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    width: 100%;

    .auto-group-j88d-6fX {
      margin: 0rem 3rem 0.6rem 0rem;
      width: 64.9rem;
      height: 23.2rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-17-23P {
        width: 64.5rem;
        height: 23rem;
        position: absolute;
        left: 0.4rem;
        top: 0.2rem;
        background-color: #f5f5f5;
        border-radius: 1rem;
      }
      .patient3gmailcom-YGd {
        line-height: 2.2;
        width: 26.1rem;
        height: 5.6rem;
        position: absolute;
        font-weight: 300;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        left: 24.1rem;
        top: 6.1rem;
        font-size: 2.5rem;
        color: #000000;
      }
      .last-appointment-20-07-2023-eqT {
        font-size: 2.5rem;
        font-family: Poppins, 'Source Sans Pro';
        color: #000000;
        width: 38rem;
        height: 5.6rem;
        position: absolute;
        left: 24.1rem;
        top: 11.6rem;
        font-weight: 300;
        line-height: 2.2;
        white-space: nowrap;
      }
      .view-details-AJ1 {
        position: absolute;
        font-weight: 300;
        line-height: 2.5;
        color: #e53935;
        white-space: nowrap;
        width: 13.1rem;
        height: 5.5rem;
        left: 24.1rem;
        top: 17.1rem;
        font-size: 2.2rem;
        font-family: Poppins, 'Source Sans Pro';
      }
      .patient3-4eH {
        font-size: 2.5rem;
        font-weight: 300;
        font-family: Poppins, 'Source Sans Pro';
        width: 10.1rem;
        height: 5.6rem;
        position: absolute;
        left: 24.1rem;
        top: 0.8rem;
        line-height: 2.2;
        color: #000000;
        white-space: nowrap;
      }
      .arrowforwardiosfill0wght400grad0opsz48-1-8-ABX {
        position: absolute;
        left: 37.82rem;
        top: 18.895rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.14rem;
        height: 2rem;
      }
      .image-13-fty {
        background-image: url('REPLACE_IMAGE:800d733ec8e94f4fe5563a2af8de45d08df078b8');
        width: 22.6844rem;
        height: 22.5rem;
        position: relative;
        left: 0;
        top: 0;
        background-size: 182.927% 115.574%;
        background-position: -9.2213rem -1.4754rem;
      }
    }
    .auto-group-kb1o-Yxm {
      width: 65.2rem;
      height: 23rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-18-VND {
        border-radius: 1rem;
        width: 64.5rem;
        height: 23rem;
        position: absolute;
        left: 0.7rem;
        top: 0;
        background-color: #f5f5f5;
      }
      .patient4gmailcom-pvH {
        position: absolute;
        left: 24.4rem;
        top: 5.9rem;
        font-weight: 300;
        color: #000000;
        white-space: nowrap;
        width: 26.2rem;
        height: 5.6rem;
        font-size: 2.5rem;
        line-height: 2.2;
        font-family: Poppins, 'Source Sans Pro';
      }
      .last-appointment-10-07-2023-k3F {
        height: 5.6rem;
        position: absolute;
        top: 11.4rem;
        font-weight: 300;
        color: #000000;
        white-space: nowrap;
        width: 37.3rem;
        left: 24.4rem;
        font-size: 2.5rem;
        line-height: 2.2;
        font-family: Poppins, 'Source Sans Pro';
      }
      .view-details-FEu {
        position: absolute;
        left: 24.4rem;
        top: 16.9rem;
        line-height: 2.5;
        white-space: nowrap;
        height: 5.5rem;
        font-size: 2.2rem;
        font-weight: 300;
        color: #e53935;
        font-family: Poppins, 'Source Sans Pro';
        width: 13.1rem;
      }
      .patient4-Acm {
        left: 24.4rem;
        top: 0.6rem;
        font-size: 2.5rem;
        width: 10.2rem;
        height: 5.6rem;
        line-height: 2.2;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        font-weight: 300;
      }
      .arrowforwardiosfill0wght400grad0opsz48-1-9-gb7 {
        left: 38.12rem;
        top: 18.695rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.14rem;
        height: 2rem;
        position: absolute;
      }
      .image-14-oQq {
        background-image: url('REPLACE_IMAGE:652781d7b467bccd8b5139f39055b380d9e6c9d5');
        width: 23rem;
        height: 22.5rem;
        position: relative;
        left: 0;
        top: 0.2rem;
        background-size: 103.779% 111.111%;
        background-position: -0.2452rem -1.0714rem;
      }
    }
  }
}
