
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-e6Z {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-hpyd-BsB {
    box-sizing: border-box;
    padding: 1.7rem 2.1rem 1.1rem 2.1rem;
    width: 100%;
    background-color: #e53935;
    flex-shrink: 0;

    .arrowforwardiosfill0wght400grad0opsz48-1-3-XAM {
      vertical-align: top;
      margin-right: 135.8rem;
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      object-fit: contain;
    }
  }
  .auto-group-xhh7-Qjw {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.8rem 57.5rem 3.3rem 57.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;

    .image-4-jGR {
      margin-bottom: 0.6rem;
      width: 29rem;
      height: 29rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .patient1-rbw {
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 0.1rem;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.375;
    }
    .patient1gmailcom-ygZ {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.5rem;
      font-size: 2.5rem;
      font-weight: 300;
      line-height: 2.2;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
    .auto-group-fyk3-uaD {
      width: calc(100% - 3.4rem);
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #457b9d;
      font-size: 2.5rem;
      justify-content: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0 1.7rem;
      font-weight: 300;
      line-height: 2.2;
      display: flex;
      height: 7.3rem;
      color: #ffffff;
      align-items: center;
    }
  }
  .auto-group-gqzx-9UZ {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 40rem;

    .auto-group-6apx-J6Z {
      width: 130.5rem;
      height: 23rem;
      position: absolute;
      left: 6.7rem;
      top: 10.7rem;
      display: flex;
      align-items: center;

      .auto-group-oz7f-p4u {
        background-color: #f5f5f5;
        box-sizing: border-box;
        padding: 0.4rem 1.3rem 0rem 0.1rem;
        display: flex;
        align-items: center;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 3.5rem;
        height: 100%;

        .image-6-Xk1 {
          margin-right: 1.8rem;
          width: 21.8rem;
          height: 22.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-yqe5-fbK {
          position: relative;
          flex-shrink: 0;
          margin: 0.2rem 0rem 0.6rem 0rem;
          width: 38.5rem;
          height: calc(100% - 0.8rem);

          .appointment-date-23-08-2023-Nkd {
            height: 5.6rem;
            left: 0;
            line-height: 2.2;
            white-space: nowrap;
            width: 38.5rem;
            top: 5.3rem;
            font-size: 2.5rem;
            font-weight: 300;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            position: absolute;
          }
          .number-of-medicines-2-zfX {
            width: 28.9rem;
            line-height: 2.2;
            color: #000000;
            white-space: nowrap;
            height: 5.6rem;
            position: absolute;
            left: 0;
            top: 10.8rem;
            font-size: 2.5rem;
            font-weight: 300;
            font-family: Poppins, 'Source Sans Pro';
          }
          .view-details-W85 {
            width: 13.1rem;
            left: 0;
            top: 16.3rem;
            font-size: 2.2rem;
            font-weight: 300;
            line-height: 2.5;
            color: #e53935;
            font-family: Poppins, 'Source Sans Pro';
            height: 5.5rem;
            position: absolute;
            white-space: nowrap;
          }
          .doctor-doctor-1-1ad {
            font-family: Poppins, 'Source Sans Pro';
            height: 5.6rem;
            left: 0;
            font-size: 2.5rem;
            line-height: 2.2;
            color: #000000;
            width: 19.2rem;
            position: absolute;
            top: 0;
            font-weight: 300;
            white-space: nowrap;
          }
          .arrowforwardiosfill0wght400grad0opsz48-1-4-vhb {
            height: 2rem;
            position: absolute;
            left: 13.72rem;
            top: 18.095rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.14rem;
          }
        }
      }
      .auto-group-yqnv-oWV {
        padding: 0.4rem 1.3rem 0rem 0.1rem;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #f5f5f5;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .image-7-Kzd {
          margin-right: 1.8rem;
          width: 21.8rem;
          height: 22.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-jzch-4SR {
          margin: 0.2rem 0rem 0.6rem 0rem;
          width: 38.5rem;
          height: calc(100% - 0.8rem);
          position: relative;
          flex-shrink: 0;

          .appointment-date-23-06-2023-ypH {
            line-height: 2.2;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2.5rem;
            font-weight: 300;
            width: 38.5rem;
            height: 5.6rem;
            position: absolute;
            left: 0;
            top: 5.3rem;
          }
          .number-of-medicines-3-VGq {
            width: 28.9rem;
            top: 10.8rem;
            font-size: 2.5rem;
            line-height: 2.2;
            color: #000000;
            height: 5.6rem;
            position: absolute;
            left: 0;
            font-weight: 300;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .view-details-Pd7 {
            line-height: 2.5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            width: 13.1rem;
            position: absolute;
            left: 0;
            top: 16.3rem;
            font-size: 2.2rem;
            font-weight: 300;
            color: #e53935;
            height: 5.5rem;
          }
          .arrowforwardiosfill0wght400grad0opsz48-1-5-WSq {
            object-fit: contain;
            vertical-align: top;
            width: 1.14rem;
            height: 2rem;
            position: absolute;
            left: 13.72rem;
            top: 18.095rem;
          }
          .doctor-doctor-1-pTX {
            top: 0;
            font-weight: 300;
            line-height: 2.2;
            white-space: nowrap;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            width: 19.2rem;
            height: 5.6rem;
            position: absolute;
            left: 0;
            font-size: 2.5rem;
          }
        }
      }
    }
    .auto-group-thad-6vq {
      left: 6.7rem;
      top: 3.8rem;
      display: flex;
      align-items: center;
      width: 90.6rem;
      height: 5.5rem;
      position: absolute;

      .prescription-1-EXF {
        margin-right: 44.3rem;
        font-size: 3.5rem;
        font-weight: 400;
        line-height: 1.5714285714;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .prescription-2-AA1 {
        line-height: 1.5714285714;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.5rem;
        font-weight: 400;
      }
    }
    .component-1-h9w {
      padding: 2.147rem 2.058rem 2.058rem 2.147rem;
      height: 8.5rem;
      cursor: pointer;
      left: 124.6rem;
      top: 28.8rem;
      background-color: #e53935;
      border-radius: 4.25rem;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      position: absolute;
      backdrop-filter: blur(0.2rem);
      width: 8.5rem;

      .vector-zuj {
        width: 4.2947rem;
        height: 4.2947rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
}
