
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-5-FFK {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-bnrb-PsK {
    width: 100%;
    background-color: #e53935;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.042rem 3.167rem 1.425rem 3.167rem;

    .arrowforwardiosfill0wght400grad0opsz48-1-6-vcM {
      object-fit: contain;
      vertical-align: top;
      margin-right: 135.7666rem;
      width: 1.9rem;
      height: 3.3333rem;
    }
  }
  .auto-group-fatf-dmf {
    width: 100%;
    height: 95.6rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-kecd-NUM {
      width: 33.9rem;
      height: 5.6rem;
      position: absolute;
      left: 5.1rem;
      top: 16.8rem;
      display: flex;
      align-items: center;

      .calpol-500-thb {
        flex-shrink: 0;
        margin: 0rem 3.1rem 0.1rem 0rem;
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.5714285714;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .line-3-PPT {
        margin: 0.3rem 0.6rem 0rem 0rem;
        width: 2rem;
        height: 0.3rem;
        background-color: #e53935;
        flex-shrink: 0;
      }
      .strip-WU5 {
        line-height: 2.2;
        color: #000000;
        font-family: Albert Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.6rem;
        font-size: 2.5rem;
        font-weight: 300;
      }
      .vector-EQ5 {
        vertical-align: top;
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
      }
    }
    .time-of-dosage-BKK {
      left: 5.1rem;
      font-size: 2.5rem;
      font-weight: 300;
      line-height: 2.2;
      white-space: nowrap;
      width: 19.3rem;
      position: absolute;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      height: 5.6rem;
      top: 22.8rem;
    }
    .repeat-h2m {
      height: 5.6rem;
      position: absolute;
      left: 5.1rem;
      top: 37.5rem;
      width: 8.9rem;
      font-weight: 300;
      line-height: 2.2;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 2.5rem;
    }
    .auto-group-3myf-QSy {
      align-items: center;
      width: 71.5rem;
      height: 7.3rem;
      position: absolute;
      left: 5.1rem;
      top: 44.4rem;
      display: flex;
      column-gap: 2.8rem;

      .auto-group-whbk-XGh {
        display: flex;
        justify-content: center;
        border-radius: 1rem;
        width: 19.9rem;
        font-size: 2.5rem;
        font-weight: 300;
        color: #817d7d;
        white-space: nowrap;
        flex-shrink: 0;
        height: 100%;
        font-family: Poppins, 'Source Sans Pro';
        align-items: center;
        line-height: 2.2;
        background-color: #f5f5f5;
      }
      .auto-group-hf89-ozu {
        width: 23.7rem;
        font-weight: 300;
        white-space: nowrap;
        align-items: center;
        flex-shrink: 0;
        line-height: 2.2;
        display: flex;
        justify-content: center;
        border-radius: 1rem;
        height: 100%;
        font-size: 2.5rem;
        color: #807c7c;
        font-family: Poppins, 'Source Sans Pro';
        background-color: rgba(245, 245, 245, 0.6999999881);
      }
      .auto-group-rcp5-i6H {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 1rem;
        flex-shrink: 0;
        line-height: 2.2;
        color: #807c7c;
        width: 22.3rem;
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 2.5rem;
        background-color: rgba(245, 245, 245, 0.6999999881);
      }
    }
    .auto-group-h8bw-otR {
      align-items: center;
      width: 47.9rem;
      height: 7.4rem;
      position: absolute;
      left: 5.1rem;
      top: 59.9rem;
      display: flex;

      .auto-group-ef1f-wDw {
        white-space: nowrap;
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 2.2;
        background-color: #e53935;
        flex-shrink: 0;
        margin: 0.1rem 2.1rem 0rem 0rem;
        width: 22.1rem;
        font-family: Poppins, 'Source Sans Pro';
        color: #ffffff;
        align-items: center;
        border-radius: 1rem;
        height: 7.3rem;
        display: flex;
        justify-content: center;
      }
      .auto-group-doyy-oX3 {
        margin-bottom: 0.1rem;
        color: #807c7c;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        font-size: 2.5rem;
        font-family: Poppins, 'Source Sans Pro';
        background-color: rgba(245, 245, 245, 0.6999999881);
        line-height: 2.2;
        white-space: nowrap;
        border-radius: 1rem;
        width: 23.7rem;
        height: 7.3rem;
        font-weight: 300;
      }
    }
    .to-be-taken-t2h {
      width: 14.5rem;
      position: absolute;
      top: 53.1rem;
      font-size: 2.5rem;
      line-height: 2.2;
      font-family: Poppins, 'Source Sans Pro';
      height: 5.6rem;
      left: 5.1rem;
      font-weight: 300;
      color: #000000;
      white-space: nowrap;
    }
    .auto-group-sktt-C3P {
      width: 80.9rem;
      height: 7.3rem;
      position: absolute;
      left: 5.1rem;
      top: 28.8rem;
      display: flex;
      column-gap: 2.3rem;
      align-items: center;

      .auto-group-p1lh-7g9 {
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        border-radius: 1rem;
        font-size: 2.5rem;
        align-items: center;
        height: 100%;
        color: #807c7c;
        line-height: 2.2;
        font-weight: 300;
        white-space: nowrap;
        background-color: rgba(245, 245, 245, 0.6999999881);
        flex-shrink: 0;
        width: 19.9rem;
      }
      .auto-group-wnaq-DUH {
        justify-content: center;
        font-size: 2.5rem;
        line-height: 2.2;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 100%;
        color: #817d7d;
        align-items: center;
        background-color: #f5f5f5;
        width: 16.7rem;
        display: flex;
        font-weight: 300;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .auto-group-fvcm-vNh {
        width: 19.9rem;
        display: flex;
        white-space: nowrap;
        border-radius: 1rem;
        height: 100%;
        font-weight: 300;
        font-family: Poppins, 'Source Sans Pro';
        align-items: center;
        background-color: rgba(245, 245, 245, 0.6999999881);
        flex-shrink: 0;
        font-size: 2.5rem;
        line-height: 2.2;
        color: #807c7c;
        justify-content: center;
      }
      .auto-group-fujf-pDB {
        color: #817d7d;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        font-size: 2.5rem;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 17.5rem;
        white-space: nowrap;
        height: 100%;
        font-weight: 300;
        line-height: 2.2;
        background-color: #f5f5f5;
      }
    }
    .auto-group-qwv5-iJZ {
      top: 70.5rem;
      display: flex;
      align-items: center;
      width: 44.9rem;
      height: 5.6rem;
      position: absolute;
      left: 5.1rem;

      .note--F3b {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 2.2;
        color: #e53935;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.9rem;
      }
      .take-only-in-case-of-high-fever-mXj {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 2.2;
      }
    }
    .auto-group-kuv1-Vid {
      background-color: #457b9d;
      justify-content: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      font-weight: 300;
      line-height: 2.2;
      display: flex;
      align-items: center;
      left: 63.7rem;
      top: 79.8rem;
      font-size: 2.5rem;
      white-space: nowrap;
      border-radius: 1rem;
      height: 7.3rem;
      position: absolute;
      font-family: Poppins, 'Source Sans Pro';
      width: 14.5rem;
      color: #ffffff;
    }
    .auto-group-dfkh-wKj {
      left: 5.1rem;
      top: 2.4rem;
      display: flex;
      align-items: flex-start;
      width: 132.11rem;
      height: 11rem;
      position: absolute;

      .auto-group-dyjh-UKf {
        width: 27.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 101.3rem;

        .select-medicine-cgm {
          top: 0;
          font-weight: 300;
          white-space: nowrap;
          height: 5.6rem;
          left: 0;
          font-size: 2.5rem;
          line-height: 2.2;
          color: #000000;
          font-family: Albert Sans, 'Source Sans Pro';
          width: 18.2rem;
          position: absolute;
        }
        .rectangle-25-8QD {
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          border-radius: 1rem;
          top: 5.5rem;
          height: 5.2rem;
          position: absolute;
          left: 0;
          box-sizing: border-box;
          width: 27.3rem;
        }
        .calpol-500-qZX {
          line-height: 2.2;
          color: #000000;
          font-family: Albert Sans, 'Source Sans Pro';
          width: 12.7rem;
          height: 5.6rem;
          position: absolute;
          top: 5.4rem;
          font-weight: 300;
          left: 1.8rem;
          font-size: 2.5rem;
          white-space: nowrap;
        }
        .vector-MGy {
          height: 1.1875rem;
          position: absolute;
          left: 23.3135rem;
          top: 7.5458rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.0833rem;
        }
      }
      .group-Guj {
        margin-top: 1.7rem;
        width: 3.51rem;
        height: 3.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
